**Customer Database**

# Import

In [1]:
import pandas as pd

import pymysql
pymysql.install_as_MySQLdb()


from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists, create_database
from urllib.parse import quote_plus as urlquote

In [2]:
users = pd.read_csv('https://docs.google.com/spreadsheets/d/1_c2WTx_eiH8pUM-PTgyt7T4aIl1A3Cp1ukPVPEijoYc/gviz/tq?tqx=out:csv&sheet=users')
users.head()
        
books = pd.read_csv('https://docs.google.com/spreadsheets/d/1_D-vW7GXiQfG6D9nzjscgVctKLb6TZl_o8ERNH_tet8/gviz/tq?tqx=out:csv&sheet=books')
books.head()
        
authors = pd.read_csv('https://docs.google.com/spreadsheets/d/17rABPt5eaIxfhGO75dYCbH-5IloKsAR0HH9V6VC43ZI/gviz/tq?tqx=out:csv&sheet=authors')
authors.head()
        
favorites = pd.read_csv('https://docs.google.com/spreadsheets/d/1SLb3RAhcrZsPWRwR0_njWX7KssUYZ16JFsVqBkSU2GI/gviz/tq?tqx=out:csv&sheet=favorite')
favorites.head()

   user_id  book_id
0        1        1
1        1        2
2        1        3
3        2        4
4        2        5

In [3]:
import json
with open('C:/Users/david/OneDrive/Documents/May Files/.secret/mysql.json') as k:
    login = json.load(k)
login.keys()

dict_keys(['username', 'password'])

In [4]:
# Create connection string using credentials following this format
# connection = "dialect+driver://username:password@host:port/database"
connection = f"mysql+pymysql://{login['username']}:{urlquote(login['password'])}@localhost/books"

In [5]:
engine = create_engine(connection)
engine

Engine(mysql+pymysql://root:***@localhost/books)

In [6]:
## Check if database exists, if not, create it
if database_exists(connection) == False:
  create_database(connection)
else:
  print('The database already exists.')

The database already exists.

In [7]:
# Saving the dataframes to database
users.to_sql('users', engine, index=False, if_exists = 'replace')
books.to_sql('books', engine, index=False, if_exists = 'replace')
authors.to_sql('authors', engine, index=False, if_exists = 'replace')
favorites.to_sql('favorites', engine, index=False, if_exists = 'replace')

7

# ERD

<img src='bc_ERD.png'>

# Query

In [8]:
q = '''SHOW TABLES'''
pd.read_sql(q,engine)

  Tables_in_books
0         authors
1           books
2       favorites
3           users

In [9]:
q = '''
    SELECT books.title, favorites.user_id
    FROM books
    JOIN favorites ON books.id = favorites.book_id
    WHERE favorites.user_id = 
        (SELECT users.id FROM users
        WHERE (users.last_name = "Doe" AND users.first_name = "John"));
    '''
pd.read_sql(q,engine)

              title  user_id
0       The Shining        1
1                It        1
2  The Great Gatsby        1